@model Couche_SysIntegFO.Models.Products

@{
    ViewData["Title"] = "Edit";
}

<style>
    .minimal-card {
        background-color: #f9f9f9;
        border: 1px solid #e0e0e0;
        border-radius: 16px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        padding: 24px;
    }

    .form-control {
        border-radius: 8px;
    }

    .btn-primary {
        border-radius: 8px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: green;
        border-style: none;
    }

        .btn-primary:hover {
            background-color: white;
            color: black;
        }

    .btn-link {
        text-decoration: none;
        font-weight: 500;
    }

    h1, h4 {
        font-weight: 600;
    }
</style>


<h1 class="text-dark">Edit</h1>

<h4 class="text-muted">Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductID" />
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductStock" class="control-label"></label>
                <input asp-for="ProductStock" class="form-control" />
                <span asp-validation-for="ProductStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
